[submodule "i3"]
	path = i3
	url = https://github.com/gousse/i3.git
[submodule "urxvt"]
	path = urxvt
	url = https://github.com/gousse/urxvt.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/gousse/scripts.git
[submodule "ansible"]
	path = ansible
	url = https://github.com/gousse/ansible.git
[submodule "powerline-go"]
	path = powerline-go
	url = https://github.com/gousse/powerline-go.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/gousse/kubernetes.git
[submodule "dnsdist"]
	path = dnsdist
	url = https://github.com/gousse/dnsdist.git
